@media (max-width: 575px) {
    .nav-item {
        text-align: center;
    }

    .brand-logo {
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
      }

    .donate-btn{
        margin-top: 0.50em;
    }

}