/********************   CSS Classes   ********************/
.portfolio {
    padding: 5% 0 10% 3%;
}

.filter {
    padding: 25% 0 5%;
}

.jumbotron {
    background-image: url("/assets/img/exhibition.svg");
    background-size: cover;
    background: rgb(254,172,94);
    background: linear-gradient(156deg, rgba(254,172,94,1) 0%, rgba(199,121,208,1) 49%, rgba(75,192,200,1) 100%);
    height: 50vh;
    text-align: center;
    vertical-align: middle;
}

body {
    padding: 0% 5% 5% 5%;
}

.filter-item {
    margin: 4% 0%;
}

.card-img-top {
    cursor: pointer;
}


/********************   Footer   ********************/
.col_white_amrc {
    color: #FFF;
}

footer {
    width: 100%;
    background-color: #263238;/*#000839;*/
    min-height: 250px;
    padding: 10px 0px 25px 0px;
}

.pt2 {
    padding-top: 40px;
    margin-bottom: 20px;
}

footer p {
    font-size: 13px;
    color: #CCC;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.mb10 {
    padding-bottom: 15px;
}

.footer_ul_amrc {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
    padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
    color: #CCC;
}

.footer_ul_amrc li a:hover {
    color: #fff;
    text-decoration: none;
}

.fleft {
    float: left;
}

.padding-right {
    padding-right: 10px;
}

.footer_ul2_amrc {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.form-footer {
    width: 85%;;
}

.footer_ul2_amrc li p {
    display: table;
}

.footer_ul2_amrc li a:hover {
    text-decoration: none;
}

.search-box, .search-form{
    position: absolute;
    margin-top: -10px;
    right: 0;
    max-width: 89.2vw;
}



/********************   Media Queries   ********************/

@media (max-width: 767px) {

    .brand-logo {
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
    }

    .footer-block {
        text-align: center;
        
    }

    .form-footer {
        margin: 10px auto;
    }


}

@media (max-width: 960px) {
    .card-columns {
        column-count: 2;
    }
}

@media (max-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}
/********************   HTML Elements   ********************/