/* This imports the font "Roboto" and "Belgrano" from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belgrano&display=swap');


/* Color variables */
:root{
    --logo-color: #000000;
    --nav-btn-color: #303030;
    --nav-btn-border-color: #303030;
    --nav-link-color: #000000;
}


html{
    height: 100%;
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    background-color: #ffffff;
}

/* Navigation styles for this page are linked to the index.css code, so
the styles for the navigation here just override the ones in the index.css*/
.main-nav{
    background: #ffffff;
}

.search-hero{
    width: 100vw;
    padding: 10rem 0;
    margin-top: -70px;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.page-header{
    text-align: center;
    color: #ffffff;
    margin: 70px 0 2em 0;
    padding-top: 2em;
    font-size: 2.5em;
}

img{max-width: 100%;}

.results-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1em;
    padding: 2em;
    background: #ffffff;
}

.gallery-item{
    max-width: 80%;
    margin: 0 auto;
    background: #ffffff;
    border: 1px solid #00000038;
    border-radius: 5px;
    padding: 15px;
    display: none;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 8px 13px -1px rgba(0,0,0,0.58);
    -webkit-box-shadow: 1px 8px 13px -1px rgba(0,0,0,0.58);
    -moz-box-shadow: 1px 8px 13px -1px rgba(0,0,0,0.58);
}

.small{
    margin-top: -3em;
    max-height: 200px;
} 

.item-desc{
    padding: 1.5em;
    text-align: center;
}

.item-title{
    font-size: 1.2rem;
    margin-top: 0;
}

.gallery-lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1,0);
    transition: 0.2s;
    z-index: 5000;
    overflow: scroll;
}

/* Scroll tip for when image is clicked and zoomed in */
.gallery-lightbox:target{
    transform: scale(1,1);
}

.text-box{
    display: flex;
    justify-content: space-between;
}

.gallery-lightbox-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    max-width: 90%;
    background: #ffffff;
    padding: 1em;
    position: relative;
}

.gallery-lightbox-content img{
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 5200;    
}

.gallery-lightbox-content h3{
    font-size: 15px;
}

.gallery-lightbox-content p{
    padding-top: 5px;
    font-size: 12px;
}

.close{
    position: absolute;
    width: 5em;
    height: 2em;
    background: red;
    top: -3rem;
    right: 0;
    border-radius: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close::after{
    content: "Close";
    color: #ffffff;
    font-weight: 900;
}

/* THIS CODE ZOOMES IN THE IMAGE WHEN YOU CLICK IT */
input[type=checkbox] {
    display: none;
}
  
.lightbox-img {
    margin: 100px;
    transition: transform 0.25s ease;
    cursor: zoom-in;
}

label > input[type=checkbox]:checked ~ img{
    transform: scale(1.8);
    transform-origin: 12% -5%;
    cursor: zoom-out;
    transition: all .5s;
}

label > input[type=checkbox]:checked ~ p{
    display: block;
    color: red;
    top: 2px;
    left: 2px;
    font-size: 13px;
    transition: all 2s;
}
/* ===================== END OF IMAGE ZOOM-IN SECTION ============================= */

.search-field{
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #b9b9b9c2;  
    border-radius: 0; 
    color: rgb(224, 224, 224);
    font-size: 25px; 
    width: 80%;
    padding-left: 0;
} 

.search-form{
    width: 95vw;
    height: 7rem;
    margin: 0;
    margin: 1em auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.637); 
    transition: none;
    border-radius: 7px;   
}

.search-field:focus{
    border-bottom: 1px solid #8bbdffc2; 
    color: #FFF;
}

.inpage{
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #ffffff;    
    color: rgb(224, 224, 224);
    font-size: 2rem; 
    width: 80%;
}

.inpage:focus{
    border-bottom: 1px solid #ffffff; 
    color: #FFF;
}

.inpage::before{    
    content: " ";
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    background-color: #ff4545;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.submit-btn2{
    position: absolute;
    right: 11%;
    font-size: 2.7rem;
    padding-bottom: 25px;
    background: none;
    border: none;
    outline: none;
    color: #ffffff;
    cursor: pointer;
}

.instruct{
    text-align: center;
    padding: 15px;
    background: #0A0903;
    color: #ffffff;
    letter-spacing: 2px;
    display: none;
}

.backToTop{
    position: fixed;
    bottom: 5px;
    right: 0;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
    text-decoration: none;
    padding: 10px 25px;
    background: rgba(206, 0, 0, 0.877);
    visibility: hidden;
    color: #ffffff;
    z-index: 120;
}

/* Styles for text that lets user know they can click image to zoom in */
.click-alert{
    width: 255px;
    padding: 1rem 10px; 
    position: fixed;
    display: none;
    bottom: 50%;
    left: 50%;
    margin-left: -127.5px; /* Centers items in combination with left: 50% */
    font-size: 15px; 
    color: #ffffff;
    text-align: center;
    z-index: 5200;
    border-radius: 10px;
    background: rgba(255, 8, 8, 0.932);
}

.click-alert i{
    font-size: 21px;
    padding-right: 3px;
}

/* Styles for text that lets user know they can scroll if image too big */
.scroll-tip{
    position: absolute;
    display: none;
    width: 100%;
    z-index: 5000;
    text-align: center;    
    color: #000000;
}

.searchError{
    width: 95vw;
    margin: -2rem auto 2rem auto;
    display: none;
}

.searchError img{
    width: 100%;
}


@media only screen and (min-width: 400px) and (max-height: 420px){
    .gallery-lightbox-content{
        max-width: 270px;    
    }
    .gallery-lightbox-content img{
        width: 100%;
    }
    .gallery-lightbox{
        padding-top: 5rem;
    }

    .text-box{
        flex-direction: column;
    }

    .gallery-lightbox-content h3{
        font-size: 15px;
    }

    .searchError{
        width: 45vw;
    }

    .search-field{
        font-size: 2rem;
    }

}


@media only screen and (min-width: 500px){
    
    .gallery-lightbox-content{
        width: 55vh;
    }

    .gallery-lightbox-content h3{
        font-size: 20px;
    }

    .text-box p{
        font-size: 1.02em;
    }

    .search-form{
        width: 90vw;
    }

    .submit-btn2{
        right: 14%;
    }

    .searchError{
        width: 75vw;
    }

    label > input[type=checkbox]:checked ~ img{
        transform: scale(1.8);
        transform-origin: 42% -5%;
    }
}

@media only screen and (min-width: 600px){
    .gallery-lightbox{
        overflow-x: hidden;
    }

    label > input[type=checkbox]:checked ~ img{
        transform: scale(1.8);
        transform-origin: center -7%;
    }

    label > input[type=checkbox]:checked ~ p{
        font-size: 17px;
    }

    .search-form{
        width: 90vw;
    }

    .submit-btn2{
        margin-right: 5%;
    }

    .text-box{
        display: flex;
        justify-content: space-between;
    }

    .open .hamburger-nav{
        margin-right: -12%;
        transition: margin 0.5s;
    }  

    .searchError{
        max-width: 500px;
    }
    
}

@media only screen and (min-width: 820px){
    .page-header{
        font-weight: bolder;
        font-size: 3em;
    }
}

@media only screen and (min-width: 1000px){
    .gallery-lightbox-content{
        /* padding-top: 100px; */
        width: 60vh;
    }
    .gallery-lightbox{
        overflow-y: scroll;
        padding-top: 5vh;
    }

    /* Remove the left margin margin applied to the homepage nav item since we don't have to deal with a search bar here */
    .logo, .nav-list{
        margin-left: 0;
    }

    .submit-btn2{
        right: 8%;
    }
}




