/* This imports the font "Roboto" and "Belgrano" from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belgrano&display=swap');

/* Color variables */
:root {
    --menu-bg-color: #ffffff;
    --nav-link-color: #000000;
    --search-btn-color: #ff725e;
    --search-btn-size: 22px;
    --nav-icon-color: #3f3d56;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
}

/* STYLES FOR NAVIGATION */
header{
    position: sticky;
    top: 0;
    z-index: 10;
}

.main-nav{
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--menu-bg-color);
    border-bottom: 1px solid #CCC;
}

.invert-menu{
    --menu-bg-color: #050505; 
    border-bottom: 1px solid #181818; 
    --nav-link-color: #ffffff;
    color: var(--nav-link-color);  
    --search-btn-color: 30px;   
    --search-btn-size: 30px; 
    --nav-icon-color: #ffffff;
}

.logo{
    order: 2;
    transform: translateY(-40px);
    opacity: 0;
    transition: .7s;
   
}
.logo a{
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 1.3rem;
    text-align: center;
    color: #ff725e;
}

.hamburger-nav{
    order: 1;
    height: 2rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    z-index: 50;
    transform: translateY(-40px);
    opacity: 0;
    transition: .7s;
}

.bars{
    width: 1.8rem;
    height: 2px;
    background-color: var(--nav-icon-color);
    display: inline-block;
    position: relative;
    transition: all .5s;
}

.bars::before,
.bars::after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: var(--nav-icon-color);
    transition: all .4s;
}

.bars::before{
    top: -.6rem;
}
.bars::after{
    top: .6rem;
}

/* class for when the menu is open. this is applied only in javascript */
.open .bars{
    background-color: transparent;
}

.open .bars::before{
    top: 0;
    background-color: #ff725e;
    transform: rotate(135deg);
}
.open .bars::after{
    top: 0;
    background-color: #ff725e;
    transform: rotate(-135deg);
}

.nav-list{
    width: 20rem;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100%;
    background: #141317;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 50%;
    transition: all .4s;
    padding-top: 6rem; 
    z-index: 40;
}

/* Apply this style when the nav has an open state */
.open .nav-list{    
    left: 0;
    box-shadow: 12px 0 20px rgba(0, 0, 0, .6);
}

.open .nav-link{
    display: block;
}

.nav-item{
    list-style: none;
    text-align: center;
}

.nav-link{
    text-decoration: none;
    display: block;
    color: var(--nav-link-color);
    font-size: 1.8rem;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: .5rem;
    margin-left: 5rem;
    transition: all .5s;
}

.open .nav-link{
    color: #FFF;
}

.nav-link:hover{
    color: #d44532;    
}

/* NAV SEARCH BAR STYLES */

/* Navigation trigger */
.search-btn{
    order: 3;
    font-size: var(--search-btn-size);
    color: var(--search-btn-color);
    background: none;
    padding: 10px 12px;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer; 
    transform: translateY(-40px);
    opacity: 0;
    transition: .7s;
    z-index: 10;
}

.search-box{
    position: fixed;
    top: 70px;
    width: 100vw;
    height: 100%;
    background: rgba(0, 0, 0, .6);  
    display: none;
    z-index: 2;
}

.showSearch{
    display: block;
    transition: all ease 0.5s;
}

.search-form{
    width: 100vw;
    height: 25rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #050505;
    transition: all 0.5s;
}

.search-field{
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #5c5c5c;    
    color: rgb(224, 224, 224);
    font-size: 2rem; 
    width: 80%;
} 

.search-field:focus{
    border-bottom: 1px solid #ff4545; 
    color: #FFF;
}

.search-field::before{    
    content: " ";
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    background-color: #ff725e;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}


.submit-btn{
    position: absolute;
    right: 10%;
    font-size: 3rem;
    padding-bottom: 25px;
    background: none;
    border: none;
    outline: none;
    color: #ffffff;
}

/* Top Section */

.main-wrapper{
    padding-top: 5rem;
}

.hero{
    width: 100vw;
    height: 92vh;    
}

.hero-content{
    width: 100%;
    height: 92vh;
    overflow: hidden; 
    background-image: url("../images/intro-cover.svg");
    background-repeat: no-repeat;
    background-position: right 55%;
    transform: translateX(40px);
    opacity: 0;
    transition: .7s;
    
}

.content-textbox{
    width: 100%;    
    text-align: center;
    padding-top: 3rem;
    transform: translateX(-40px);
    opacity: 0;
    transition: .7s;
}

.content-textbox h1{
    font-size: 7vw;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: #000000;
    text-shadow: 2px 2px 0px rgb(255, 255, 255), 3px 3px 0px rgba(0,0,0,0.15);
}

.content-textbox h3{
    font-size: 5vw;
    max-width: 90%;
    font-weight: 200;
    margin: 0 auto;
    padding-top: 8px;
}

.start-btn{
    width: 100%;
    bottom: 15%;
    position: absolute;
    margin: auto;
    text-align: center;
}

.cta-btn{
    text-decoration: none;
    padding: 12px 35px;
    font-size: 1rem;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ff725e;
    border-radius: 5px;
    box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.5);
    transition: all .5s;
    cursor: pointer;
    transform: translateX(40px);
    opacity: 0;
    transition: .7s;
}

#arrow-right {
    position: relative;
    display: inline-block;
    border-right: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    width: 12px;
    height: 12px;
    transform: rotate(-45deg);
    margin-left: 10px;
    left: 0;
    transition: all .5s;
    
}

.cta-btn:hover #arrow-right{
    left: 10px;
    transition: all .5s;
}


/* Slideshow styles */
.title-center{
    width: 100%;
    font-size: 1.2em;
    color: #272727;
    text-shadow: 1px 1px 2px rgba(34, 34, 34, 0.356);
    text-transform: uppercase;
    padding: 15px 0 25px 0;
    letter-spacing: 2px; 
    margin-left: 3%;  
    text-align: center; 
}


.artwork{
    text-align: center;
    height: 230px;
}

.image-resize{    
    height: 90%;
    width: 95%;   
}

figcaption{
    display: block;
    position: absolute;
    left: 3%;
    width: 55%;
    margin-top: -1.2rem;
}

figcaption h3{
    padding-bottom: 10px;
    color: #3f3d56;
}

figcaption p{
    font-size: 1em;
    color: #5c5c5c;
}

.dot-container{    
    text-align: right;
    margin: -1.2rem auto 5rem auto;
    width: 95%;
}

.dot{
    height: 5px;
    width: 18px;
    margin: 0 5px;
    background-color: #2e2c3f;
    border-radius: 50px;
    display: inline-block;
    cursor: pointer;
    z-index: 1;
    transition: all .5s;
}

.active, .dot:hover{
    background-color: red;
}

.fadeIn{
    animation: fadeIn ease .5s;
    -webkit-animation: fade ease .5s;
    -moz-animation: fade ease .5s;
    -o-animation: fade ease .5s;
    -ms-animation: fade ease .5s;
}

@keyframes fade{
    from { opacity: 0; }
    to   { opacity: 1; }
}


/* FEATURED CATEGORIES STYLES */
.featured-categories{
    background: #000;
    width: 100vw;
    clip-path: polygon(50% 2%, 60% 0, 100% 0, 100% 100%, 0 100%, 0 0, 40% 0);
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 2rem;
    width: 80%; 
    margin: 0 auto; 
    padding-bottom: 15rem;     
}

.category-link{text-decoration: none;}

.category-title{
    color: #ffffff;
    padding: 15% 0 5% 0;
}

.category{
    background-color: #ffffff;
    padding: 15px;
    height: 20em;
    width: 60%;
    margin: 0 auto;
}

.category img{
    text-align: center;
    height: 90%;
    width: 100%;
    background-size: cover;
    background-position: center;   
}

.category-caption{
    text-align: left;
    margin-top: 6px;
    color: #3f3d56;
    font-size: 1rem;
}

footer{
    position: relative;
    width: 100vw;
    height: 20rem;
    margin-top: -9rem;
    text-align: center;    
    border-top: 8px solid red;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    background-color: rgb(250, 250, 250);
    padding-top: 5rem;   
}

.footer-hearder{
    font-size: 3em;
}
.footer-subhearder{
    padding-top: 12px;
    font-size: 2em;
}

.last{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 15px;
    color: red;
}

.social{
    padding-top: 15px;
    font-size: 2em;
}

.social a{
    margin: 1rem;
}

/* MEDIA QUERIES */
 
@media only screen and (min-width: 500px) and (max-height: 500px){


    .logo a{
        font-size: 1.3rem;
    }

    .content-textbox{
        text-align: left;
        max-width: 60%;
        padding-left: 45px;        
    }

    .content-textbox h1{
        font-size: 7vh;
    }

    .content-textbox h3{
        font-size: 1.2rem;
        padding-right: 25px;
        max-width: unset;        
    }

    .start-btn{
        text-align: left;
        padding-left: 45px;
        bottom: 25%;
    }

    .artwork{
        text-align: center;
        height: 350px;
    }

    .category{
        width: 50%;
        height: 25em;
        margin: 0 auto;
    }

    .category img{
        height: 90%;  
    }

    .title-center{
        left: 0;
        font-size: 1rem;
        text-align: center;
    }

    .category-title{
        margin-left: 0;
    }

    

}

@media only screen and (min-height: 600px) and (min-width: 600px){
    .hero{
        height: 100vh;
    }
    .title-center{
        text-align: left;
    }

    .hero-content{
        height: 100vh;
        background-size: 85%;
        background-position: center 55%;
    }
    .content-textbox h1{
        font-size: 8vw;
    }   
    
    .content-textbox h3{
        font-size: 1.2rem;
        max-width: 90%;
        font-weight: 200;
        margin: 0 auto;
        padding-top: 8px;
    }

    .start-btn{
        bottom: 15%;
    }
  

    #arrow-right{
        width: 13px;
        height: 13px;
    }

    .artwork{
        text-align: center;
        height: 460px;
    }

    .title-center{
        font-size: 1.3rem;
    }
    
    .category{
        width: 80%;
        height: 75%;        
    }

    .category img{
        height: 90%;  
    }

    .featured-categories{      
        padding: 0 25px;
    }

    .title-center{
        font-size: 1.8rem;
        margin-left: 6.2rem;
    }

    .category-title{
        text-align: center;
        padding: 10rem 0 5rem 3rem;        
        margin-left: 0;
    }
    
} 



@media only screen and (min-width: 600px){
    .hero-content{
        height: 100vh;
        background-size: 60%;
        background-position: right 50%;
    }

    .content-textbox{
        text-align: left;
        max-width: 60%;
        padding-left: 45px;        
    }

    .content-textbox h1{
        font-size: 7vh;
    }

    .content-textbox h3{
        font-size: 1.2rem;
        padding-right: 25px;
        max-width: unset;        
    }

    .start-btn{
        text-align: left;
        padding-left: 45px;
        bottom: 45%;
    }

    .title-center{
        font-size: 1.8rem;
        margin-left: 6.2rem;
    }

    .grid-container{
        width: 100%;
    }

    .category{
        width: 80%;
        height: 20em;        
    }

    .category img{
        height: 90%;  
    }

    .grid-container {
        grid-template-columns: auto auto;        
        grid-gap: 1.5rem;
    }

    .category-title{
        text-align: center;
        padding: 10rem 0 5rem 3rem;        
        margin-left: 0;
    }

    figcaption{left: 8%;}
    
    figcaption h3{font-size: 1.5em;}
    
    figcaption p{font-size: 1.2em;}

    .dot-container{ margin: -1.2rem auto 18rem -3rem;}
}



@media only screen and (min-width: 560px) and (min-height: 678px){    

    .hero-content{
        background-position:  right center;
        background-size: 60%;
    }

    .content-textbox{
        text-align: left;
        max-width: 60%;
        padding-left: 45px; 
        margin-top: 7%;       
    }

    .content-textbox h1{
        font-size: 5vw;
    }   
    
    .content-textbox h3{
        font-size: 1.7rem;
        max-width: 80%;
        font-weight: 200;
        margin-left: 0;
        padding-top: 25px
    }

    .start-btn{
        bottom: unset;
        margin-top: 3em;
        text-align: left;
        padding-left: 0;
        left: 3rem
    }

    .cta-btn{
        padding: 20px 55px;
    }

    .featured-categories{
        clip-path: polygon(50% 2.3%, 55% 0, 100% 0, 100% 100%, 0 100%, 0 0, 45% 0);
    }

    figcaption{left: 8%;}
    
    figcaption h3{font-size: 1.5em;}
    
    figcaption p{font-size: 1.2em;}

    .dot-container{ margin: -1.2rem auto 18rem -3rem;}
    
    .category{
        width: 90%;
        height: 20em;        
    }
    
} 


@media only screen and (min-width: 850px){ 

    .artwork{
        text-align: center;
        height: 650px;
    }

    .image-resize{    
        height: 90%;
        width: 85%;
        background-size: cover;
        background-position: center;    
    }

    .grid-container {
        width: 90%;
        grid-template-columns: auto auto auto auto;
        grid-gap: 1.5rem;
        grid-area: auto;
    }

    .featured-categories{
        clip-path: polygon(50% 5%, 53% 0, 100% 0, 100% 100%, 0 100%, 0 0, 47% 0);
        padding-bottom: 5rem;        
    }
    
    .category{
        width: 100%;
        height: 15em;        
    }

    .category img{
        height: 90%;  
    }
}

@media only screen and (min-width: 1000px){

    .hamburger-nav{
        display: none;
    }   

    .menu{
        display: none;
    }

    .nav-list{
        order: 2;
        width: 45%;
        height: unset;
        position: unset;
        background: none;
        display: flex;
        align-items: center;        
        padding: 0;
        transform: translateY(-40px);
        opacity: 0;
        transition: .7s;
        z-index: 10;
    }

    .nav-item{
        padding: 0 ;
        margin: 0 0 0 -1rem;
    }

    .hide-items{
        display: none;
    }
    
    .nav-link{
        border-top: none;
        color: var(--link-inverse);
        position: relative;
        font-size: 1rem;
    }

    .nav-link:hover{
        color: #ff725e;
    }

    .nav-link:not(.donate)::before{    
        content: " ";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #ff725e;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
    }

    .nav-link:hover::before { 
        visibility: visible;
        transform: scaleX(1); 
    }

    .category{
        width: 100%;
        height: 18em;        
    }

    .artwork{
        text-align: center;
        height: 500px;
    }

    .image-resize{    
        height: 92%;
        width: 70%;  
    }

    .title-center{margin-left: 15%;}
    .category-title{margin-left: unset;}

    figcaption{left: 15%;}

    .dot-container{ margin: -1.2rem auto 18rem -10rem;}

   
}

@media only screen and (min-width: 1370px){

    .nav-list{
        width: 25rem;
    }

    .artwork{
        text-align: center;
        height: 800px;
    }

    .image-resize{    
        height: 92%;
        width: 75%;  
    }

    figcaption{left: 13%;}

    figcaption h3{font-size: 1.5em;}
    
    figcaption p{font-size: 1.2em;}

    .dot-container{ margin: -1.2rem auto 18rem -10rem;}

    .cta-btn{font-size: 1.2rem;}

    .category{
        width: 95%;
        height: 26rem;        
    }

    .category img{height: 93%;}

    .category-caption{font-size: 1.4rem;}

    .title-center{ margin-left: 15rem;}
    .category-title{margin-left: unset;}
}




